@import './variables.scss';

.all-users {
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-dark;

    .au-card {
        width: 80%;
        max-height: 70%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-color: $tendencies-dark;
        color: white;
        border-radius: 15px;

        h3 {
            padding: 1rem;
            font-weight: 700;
        }

        .u-container {
            display: block;

            .user {
                padding: 1rem;
                height: 10vh;
                display: flex;
                align-items: center;
                gap: 1rem;
                cursor: pointer;
                transition: background .1s ease-out;
                text-decoration: none;
                color: white;

                svg {
                    background-color: $lightBlue;
                    padding: 3%;
                    font-size: 1.5rem;
                    border-radius: 100px;
                }

                p {
                    font-weight: 600;
                }

                &:hover {
                    background-color: rgba(29, 31, 35, 1);
                    text-decoration: underline;
                }
            }

        }
    }
}

@media screen and (max-width: 800px) {
    .all-users {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .all-users {
        display: none;
    }
}