@import './variables.scss';

.d-container {
    max-height: 100vh;
    background-color: $main-dark;
    display: flex;

    .Dashboard {
        width: 50%;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        margin-left: 8rem;
        color: white;
        border-left: .5px solid white;
        border-right: .5px solid white;
        overflow: hidden;

        .mobile-add {
            display: none;
        }

        .home-posts {
            overflow: auto;
            width: 100%;

            &::-webkit-scrollbar {
                width: 0px;
            }
        }

    }
}

@media screen and (max-width: 800px) {
    .d-container {
        flex-direction: column;

        .Dashboard {
            margin-left: 5rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .d-container{

        .Dashboard {
            width: 100%;
            min-height: 92vh;
            max-height: 92vh;
            border: none;
            margin: 0;
            border-bottom: 1px solid white;
            position: relative;
            margin-bottom: 3rem;

            .mobile-add {
                padding: 1rem 1rem;
                border-radius: 100px;
                background-color: $lightBlue;
                position: absolute;
                bottom: 1.5rem;
                right: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                svg {
                    font-size: 1.5rem;
                }
            }

            .home-posts.quit {
                display: none;
            }
        }
    }
}